default: &default
  adapter: postgresql
  pool: 5
  encoding: utf8
  username: {{ db_user }}
  password: {{ db_password }}
  
{{ rails_env }}:
  <<: *default
  database: {{ db_name }}

test:
  <<: *default
  database: {{ db_name }}_test
