# {{ ansible_managed }}

description "{{ app_name }} sidekiq"

start on runlevel [2]
stop on runlevel [016]

env PATH=$PATH:/usr/local/bin:/usr/bin:/bin
env HOME=/home/{{user}}

respawn

setuid {{ user }}
setgid {{ user }}

chdir {{ app_path }}

script
  /bin/bash -l -c 'bundle exec {{ sidekiq_command }}'
  sleep 1
end script
